.div{
    position: relative;
    height: 250px;
    background-color: rgba(102, 147, 231, 0.849);
    
}

#naslov{
    position: relative;
    top: 50%;
    text-align: center;
    
}


.topnav{
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:auto;
    background-color: rgb(82, 72, 129);
    
}

a{
    float:left;
    overflow: hidden;
    color: white;
}
#desno{
    float:right;
    overflow: hidden;
}
